.modalContainer {
  position: relative;
  z-index: 19;
}

.modal {
  width: 85%;
  position: absolute;
  background-color: #a3b0bd;
  z-index: 20;
  top: 2rem;
  left: 5.75rem;
  padding: 2rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px darkslategray;
}

.modalItem {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 1rem 1rem;
}

.modalItem p {
  text-align: right;
  padding: 0 2rem;
  font-style: italic;
}

.modalSpan {
  grid-column: 2 / -1;
}
