.artObjectContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0 0 0;
}

.artObjectContents {
  max-width: 80rem;
}

.url {
  text-align: center;
}

.title {
  margin: 4rem 0;
}

.info {
  margin: 0 1rem;

  display: inline-block;
  width: 100%;
  text-align: center;
  transform: translate(-1rem);
}

.infoItem {
  display: inline-block;
  margin: 0 2rem;
  min-width: 12rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  min-width: 80vh;
}

.image {
  width: 80%;
}

.credit {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  padding: 1rem 1rem;
}

.modalContainer {
  position: relative;
  z-index: 19;
}

.modal {
  width: 85%;
  position: absolute;
  background-color: slategray;
  z-index: 20;
  bottom: -28rem;
  left: 5rem;
  padding: 2rem 2rem;
}

.modalItem {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding: 1rem 1rem;
}

.modalItem p {
  text-align: right;
  padding: 0 2rem;
  font-style: italic;
}
