.form {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 2rem;

  font-size: 2rem;
}

.titleLabel,
.mediumLabel,
.pageLabel {
  grid-column: 2 / span 2;
  padding-right: 2rem;

  display: flex;
  justify-content: flex-end;
}

@media (min-width: 900px) {
  .titleLabel,
  .mediumLabel,
  .pageLabel {
    grid-column: 3 / span 2;
  }
}
.titleInput,
.mediumInput,
.pageInput {
  grid-column: 4 / span 4;
}

@media (min-width: 900px) {
  .titleInput,
  .mediumInput,
  .pageInput {
    grid-column: 5 / span 3;
  }
}

.titleInput:focus,
.mediumInput:focus,
.pageInput:focus,
.prevButton:focus,
.nextButton:focus,
.searchButton:focus {
  outline: 3px solid rgb(76, 117, 179);
}

.searchButton {
  grid-column: 3 / span 4;
}

@media (min-width: 900px) {
  .searchButton {
    grid-column: 4 / span 2;
  }
}

.prevButton {
  grid-column: 2 / span 2;
}

.nextButton {
  grid-column: 6 / span 2;
}

@media (min-width: 900px) {
  .prevButton {
    grid-column: 3 / span 1;
  }

  .nextButton {
    grid-column: 6 / span 1;
  }
}

.prevButton,
.nextButton {
  margin-bottom: 2rem;
}

.pageInfo {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;

  font-weight: 300;
  font-style: italic;
}
