.url {
  text-align: center;
}

.title {
  margin: 4rem 0;
}

.info {
  display: flex;

  justify-content: space-between;
  margin: 0 1rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.image {
  width: 80%;
  min-height: 80vh;
}

.credit {
  font-weight: 300;
  font-style: italic;
  text-align: center;
  padding: 1rem 1rem;
}
